<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <title>IDM Service Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div layout:fragment="content">

    <div class="container my-5">

        <h1>IDM Master List</h1>
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <div class="alert alert-primary" role="alert" th:text="${primary}" th:if="${primary}"></div>

        <table border="1" class = "table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                        App ID</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=type&sortDir=' + ${reverseSortDir}}">
                        IDM Type</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=site&sortDir=' + ${reverseSortDir}}">
                        SITE</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=protocol&sortDir=' + ${reverseSortDir}}">
                        Protocol</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=insDate&sortDir=' + ${reverseSortDir}}">
                        Insert date</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=updDate&sortDir=' + ${reverseSortDir}}">
                        Update date</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=hostname&sortDir=' + ${reverseSortDir}}">
                        Hostname</a>
                </th>
                <th>
                    <a th:href="@{'/idmv1/page/' + ${currentPage} + '?sortField=port&sortDir=' + ${reverseSortDir}}">
                        Port</a>
                </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="idm_master : ${listIDMasters}">
                <td th:text="${idm_master.id}"></td>
                <td th:text="${idm_master.type}"></td>
                <td th:text="${idm_master.site}"></td>
                <td th:text="${idm_master.protocol}"></td>
                <td th:text="${idm_master.insDate}"></td>
                <td th:text="${idm_master.updDate}"></td>
                <td th:text="${idm_master.hostname}"></td>
                <td th:text="${idm_master.port}"></td>

                <td> <a th:href="@{/idmv1/showFormForUpdate/{id}(id=${idm_master.id})}" class="btn btn-info">Update</a>

                </td>
            </tr>
            </tbody>
        </table>

        <a th:href = "@{/idmv1/showNewIDMForm}" class="btn btn-success btn-sm mb-3"> Register New IDM </a>

        <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
                <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/idmv1/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/idmv1/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/idmv1/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>