<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>IDM Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Service Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/emp}">Employee Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/idm}">IDM Management</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <h2>Update IDM</h2>

        <form action="#" class="masterUpdateForm" method="POST" th:action="@{/idm/saveIDM}" th:object="${idm}">
            <table>
                <tr>
                    <td><label for="id">Application ID</label></td>
                    <td>
                        <input readonly th:field="*{id}" type="text" name="id" id="id" placeholder="ex. GITLAB" required/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="function">Function
                            <select name="function" required>
                                <option disabled selected>Choose backend service type</option>
                                <option id="function" value="WEB_SERVICE">WEB_SERVICE</option>
                                <option value="API_INTERNAL">API_INTERNAL</option>
                                <option value="BASE_24">BASE_24</option>
                            </select>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="http" >
                            Set Protocol
                            <input type = "radio" name = "http" value="HTTPS" id="http" required> HTTPS
                            <input type = "radio" name = "http" value="HTTP" required> HTTP
                        </label>
                    </td>
                </tr>

                <tr>
                    <td><label for="params">Parameters</label></td>
                    <td>
                        <input th:field="*{params}" type="text" name="params" id="params" placeholder="ex: gitlab.backoffice.pcf.dti.co.id" required/>
                    </td>
                </tr>

                <!--<tr>
                    <td>
                        <label for="endpoint">Endpoint</label>
                        <input type="number" name="endpoint" id="endpoint" placeholder="ex. 443" required/>
                    </td>
                </tr>-->

                <tr>
                    <td>
                        <label for="insDate">Insert date</label>
                        <input th:field="*{insDate}" type="datetime-local" name="insDate" id="insDate"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="updDate">Update date</label>
                        <input th:field="*{updDate}" type="date" name="updDate" id="updDate" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="endpoint">Endpoint
                            <select name="endpoint" required>
                                <option disabled selected>Choose status</option>
                                <option id="endpoint" value="Development">Development</option>
                                <option value="UAT">UAT</option>
                                <option value="Production">Production</option>
                            </select>
                        </label>
                    </td>
                </tr>
            </table>

            <button type="submit" class="btn btn-info col-2"> Update IDM</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Cancel</a>
</div>
</body>
</html>